body {
    font-family: Crystal, sans-serif;
}
.title {
    text-align:  center;
    font-family: Crystal, sans-serif;
    font-size: 85pt;
    font-weight: 400;
    color: white;
}
.hpNumber {
    color: white;
    margin: auto;
    font-family: Crystal;
    font-size: 150pt;
}

.armorNumber {
    color: white;
    margin: auto;
    font-family: Crystal;
    font-size: 150pt;
}
.text {
    
    margin: auto;
    font-family: Crystal;
    font-size: 50pt;
    text-align: center;
    padding: 5pt;    
}
.textBlackHead{
    color: #000;
    margin: auto;
    font-family: Crystal;
    font-size: 50pt;
    text-align: center;
    padding: 5pt; 
}
.textBlack {
    color: white;
    font-family: Crystal;
    font-size: 50pt;
    text-align: left;
    
}
.textRed {
    color: red;
    font-family: Crystal;
    font-size: 50pt;
    text-align: left;
    display: none;
    
}
.firetext {
    font-size: 50pt;
    
}
.weaponName {
    cursor: pointer;
}
.weaponName:Hover {
    color: #fff;
    background-color: #000;
    padding: 5pt;
    border-radius: 15pt;
}
.inmag:Hover {
    cursor: pointer;
    color: #fff;
    background-color: #000;
    padding: 5pt;
    border-radius: 15pt;
}
.mag:Hover {
    cursor: pointer;
    color: #fff;
    background-color: #000;
    padding: 5pt;
    border-radius: 15pt;
}
.all:Hover {
    cursor: pointer;
    color: #fff;
    background-color: #000;
    padding: 5pt;
    border-radius: 15pt;
}






