.glow {
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  .glowBox {
    color: #fff;
    -webkit-animation: glowBox 1s ease-in-out infinite alternate;
    -moz-animation: glowBox 1s ease-in-out infinite alternate;
    animation: glowBox 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glowBox {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }  

.glowRed {
    color: #fff;
    -webkit-animation: glowRed 1s ease-in-out infinite alternate;
    -moz-animation: glowRed 1s ease-in-out infinite alternate;
    animation: glowRed 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowRed {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #BA1D1D, 0 0 40px #BA1D1D, 0 0 50px #BA1D1D, 0 0 60px #BA1D1D, 0 0 70px #BA1D1D;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #E70F0F, 0 0 40px #E70F0F, 0 0 50px #E70F0F, 0 0 60px #E70F0F, 0 0 70px #E70F0F, 0 0 80px #E70F0F; 
    }
}

.glowBlue {
    color: #fff;
    -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
    -moz-animation: glowBlue 1s ease-in-out infinite alternate;
    animation: glowBlue 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowBlue {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1A0545, 0 0 40px #1A0545, 0 0 50px #1A0545, 0 0 60px #1A0545, 0 0 70px #1A0545;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #3900B2, 0 0 40px #3900B2, 0 0 50px #3900B2, 0 0 60px #3900B2, 0 0 70px #3900B2, 0 0 80px #3900B2; 
    }
}    

.glowBoxRed {
    border-color: #fff;
    -webkit-animation: glowBoxRed 1s ease-in-out infinite alternate;
    -moz-animation: glowBoxRed 1s ease-in-out infinite alternate;
    animation: glowBoxRed 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowBoxRed {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #BA1D1D, 0 0 40px #BA1D1D, 0 0 50px #BA1D1D, 0 0 60px #BA1D1D, 0 0 70px #BA1D1D;
    }
    to {
        box-shadow: 0 0 20px #fff, 0 0 30px #E70F0F, 0 0 40px #E70F0F, 0 0 50px #E70F0F, 0 0 60px #E70F0F, 0 0 70px #E70F0F, 0 0 80px #E70F0F; 
    }
}
.glowBoxBlue {
    border-color: #fff;
    -webkit-animation: glowBoxBlue 1s ease-in-out infinite alternate;
    -moz-animation: glowBoxBlue 1s ease-in-out infinite alternate;
    animation: glowBoxBlue 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowBoxBlue {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1A0545, 0 0 40px #1A0545, 0 0 50px #1A0545, 0 0 60px #1A0545, 0 0 70px #1A0545;
    }
    to {
        box-shadow: 0 0 20px #fff, 0 0 30px #3900B2, 0 0 40px #3900B2, 0 0 50px #3900B2, 0 0 60px #3900B2, 0 0 70px #3900B2, 0 0 80px #3900B2; 
    }
}

