@import url(layout.css);
@import url(content.css);
/*@import url(windows.css); */
@font-face {
    font-family: Crystal;
    src: url(../fonts/Crystal.ttf);
};
@font-face {
    font-family: Cyberpunk;
    src: url(../fonts/Cyberpunk.ttf);
};
